pandas
numpy
pyarrow 
pyephem 
ephem
holidays
geopy 
pytz 
tqdm
optuna
scikit-learn
catboost
joblib



# Îïöèîíàëüíûå, íî ðåêîìåíäîâàííûå:
meteostat
timezonefinder[numba]
psutil


